
MTG_CounterAndSearch.xcodeproj/xcuserdata/johnspalluzzi.xcuserdatad/xcschemes/MTG_CounterAndSearch.xcscheme

MTG_CounterAndSearch.xcodeproj/xcuserdata/johnspalluzzi.xcuserdatad/xcschemes/xcschememanagement.plist

MTG_CounterAndSearch.xcworkspace/xcuserdata/johnspalluzzi.xcuserdatad/UserInterfaceState.xcuserstate

Pods/Pods.xcodeproj/xcuserdata/johnspalluzzi.xcuserdatad/xcschemes/AFNetworking.xcscheme

Pods/Pods.xcodeproj/xcuserdata/johnspalluzzi.xcuserdatad/xcschemes/Pods-MTG_CounterAndSearch.xcscheme

Pods/Pods.xcodeproj/xcuserdata/johnspalluzzi.xcuserdatad/xcschemes/Pods-MTG_CounterAndSearchTests.xcscheme

Pods/Pods.xcodeproj/xcuserdata/johnspalluzzi.xcuserdatad/xcschemes/xcschememanagement.plist
